body, h1, h2, h3, p, ul, li, form, input, textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

header {
  background-color: rgb(223, 69, 13);
  color: #fff;
  padding: auto;
}

header h1 {
  padding: 0%;
  margin: 0;
}

header img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: black;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 40px;
}

#hero {
  background-image: url('hero-bg.png');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .hero-content {
  text-align: center;
}
hero-content img {
  width: 40px; 
  height: auto;
  margin-bottom: 20px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}

.project {
  margin-bottom: 50px;
}

.project img {
  width: 100%;
  max-height: 200%;
  object-fit: cover;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea,
form button {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #fff;
  color: black;
  cursor: pointer;
}

footer {
  background-color: rgb(223, 69, 13);
}

.footer_bottom {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid gray;
}

.left img {
  width: 24px; /* Set the width of the github icon */
  height: 24px; /* Set the height of the github icon */
  margin-right: 10px; /* Add spacing between the icons */
}

.left img:last-child {
  width: 28px; /* Set the width of the behance icon */
  height: 28px; /* Set the height of the behance icon */
}

/* Media queries for responsiveness */

/* For screen sizes up to 768px (e.g., mobile devices) */
@media screen and (max-width: 768px) {
  /* Adjust header styles for smaller screens */
  header img {
    width: 80px;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    margin-top: 10px;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  #hero {
    height: 300px;
  }

  .project img {
    max-height: 300%;
  }
}

/* For screen sizes between 769px and 1024px (e.g., tablets) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Adjust container width for tablet screens */
  .container {
    max-width: 800px;
  }
}

/* For screen sizes larger than 1024px (e.g., desktops) */
@media screen and (min-width: 1025px) {
  /* You can add specific styles for larger screens here, if needed */
}